<%- include("partials/header")%>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog Post</div>
    <form action="/blogs" method="POST">
        <input type="text" name="blog[title]" placeholder="blog title">
        <input type="text" name="blog[image]" placeholder="image url">
        <input type="text" name="blog[body]" placeholder="blog post">
        <button>Post</button>
    </form>
</div>

<%- include("partials/footer")%>